@use "./base.scss";

// put your custom CSS here!
h1 {
  color: #f03f28;
}

h2 {
  color: #e4980c;
}

h3 {
  color: #51bc00;
}

h4 {
  color: #0993d3;
}

h5 {
  color: #9084e9;
}

h6 {
  color: #138DC1;
}
